<a href="https://colab.research.google.com/github/Chintan-29/covid_data_analysis/blob/main/covid_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('covid_data.csv')

In [ ]:
df.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23082 entries, 0 to 23081
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   location                    23082 non-null  object
 1   date                        23082 non-null  object
 2   new_cases                   23082 non-null  int64
 3   new_deaths                  23082 non-null  int64
 4   population                  23018 non-null  float64
 5   aged_65_older_percent       20643 non-null  float64
 6   gdp_per_capita              20711 non-null  float64
 7   hospital_beds_per_thousand  19144 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 1.4+ MB

In [ ]:
df.describe()

,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
count,23082.000000,23082.000000,2.301800e+04,20643.000000,20711.000000,19144.000000
mean,624.769257,35.629062,1.037003e+08,9.758570,22708.384791,3.204687
std,5517.309068,330.986941,6.716897e+08,6.445662,21187.826121,2.593700
min,-2461.000000,-1918.000000,8.090000e+02,1.144000,661.240000,0.100000
25%,0.000000,0.000000,2.083380e+06,3.853000,6426.674000,1.400000
50%,3.000000,0.000000,9.449321e+06,7.646000,15524.995000,2.600000
75%,55.000000,1.000000,3.346920e+07,15.322000,35220.084000,4.210000
max,133510.000000,10520.000000,7.794799e+09,27.049000,116935.600000,13.800000

In [ ]:
df.head()

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [ ]:
italy_data=df[df['location']=='Italy']
germany_data=df[df['location']=='Germany']

In [ ]:
italy_data.describe()

,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
count,163.000000,163.000000,163.0,1.630000e+02,163.000,163.00
mean,1445.159509,208.852761,60461828.0,2.302100e+01,35220.084,3.18
std,1804.338164,256.287508,0.0,3.563662e-15,0.000,0.00
min,0.000000,0.000000,60461828.0,2.302100e+01,35220.084,3.18
25%,0.000000,0.000000,60461828.0,2.302100e+01,35220.084,3.18
50%,584.000000,87.000000,60461828.0,2.302100e+01,35220.084,3.18
75%,2648.500000,376.000000,60461828.0,2.302100e+01,35220.084,3.18
max,6557.000000,971.000000,60461828.0,2.302100e+01,35220.084,3.18

In [ ]:
italy_data['Confirmed'] = italy_data['new_cases'].cumsum() - italy_data['new_deaths'].cumsum()
germany_data['Confirmed'] = germany_data['new_cases'].cumsum() - germany_data['new_deaths'].cumsum()

<ipython-input-78-efabb99009a0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  italy_data['Confirmed'] = italy_data['new_cases'].cumsum() - italy_data['new_deaths'].cumsum()
<ipython-input-78-efabb99009a0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  germany_data['Confirmed'] = germany_data['new_cases'].cumsum() - germany_data['new_deaths'].cumsum()

In [ ]:
italy_data.describe()

,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand,Confirmed
count,163.000000,163.000000,163.0,1.630000e+02,163.000,163.00,163.000000
mean,1445.159509,208.852761,60461828.0,2.302100e+01,35220.084,3.18,80538.098160
std,1804.338164,256.287508,0.0,3.563662e-15,0.000,0.00,83931.875347
min,0.000000,0.000000,60461828.0,2.302100e+01,35220.084,3.18,0.000000
25%,0.000000,0.000000,60461828.0,2.302100e+01,35220.084,3.18,3.000000
50%,584.000000,87.000000,60461828.0,2.302100e+01,35220.084,3.18,42989.000000
75%,2648.500000,376.000000,60461828.0,2.302100e+01,35220.084,3.18,176702.500000
max,6557.000000,971.000000,60461828.0,2.302100e+01,35220.084,3.18,201518.000000

In [ ]:
italy_data['Confirmed']

10688         0
10689         0
10690         0
10691         0
10692         0
          ...
10846    200757
10847    200955
10848    201099
10849    201314
10850    201518
Name: Confirmed, Length: 163, dtype: int64

In [ ]:
germany_data['Confirmed']

7914         0
7915         0
7916         0
7917         0
7918         0
         ...
8072    175032
8073    175311
8074    175519
8075    175832
8076    176132
Name: Confirmed, Length: 163, dtype: int64

In [ ]:
italy_data['date'] = df.loc[df['location'] == 'Italy', 'date'].reset_index(drop=True)
germany_data['date'] = df.loc[df['location'] == 'Germany', 'date'].reset_index(drop=True)
italy_data['Confirmed'] = italy_data['new_cases'].cumsum() - italy_data['new_deaths'].cumsum()
germany_data['Confirmed'] = germany_data['new_cases'].cumsum() - germany_data['new_deaths'].cumsum()

<ipython-input-82-764fb6d008f2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  italy_data['date'] = df.loc[df['location'] == 'Italy', 'date'].reset_index(drop=True)
<ipython-input-82-764fb6d008f2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  germany_data['date'] = df.loc[df['location'] == 'Germany', 'date'].reset_index(drop=True)
<ipython-input-82-764fb6d008f2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  italy_data['Confirmed'] = italy_data['new_cases'].cumsum() - italy_data['new_deaths'].cumsum()
<ipython-input-82-764fb6d008f2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  germany_data['Confirmed'] = germany_data['new_cases'].cumsum() - germany_data['new_deaths'].cumsum()

In [ ]:
italy_data

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand,Confirmed
10688,Italy,NaN,0,0,60461828.0,23.021,35220.084,3.18,0
10689,Italy,NaN,0,0,60461828.0,23.021,35220.084,3.18,0
10690,Italy,NaN,0,0,60461828.0,23.021,35220.084,3.18,0
10691,Italy,NaN,0,0,60461828.0,23.021,35220.084,3.18,0
10692,Italy,NaN,0,0,60461828.0,23.021,35220.084,3.18,0
...,...,...,...,...,...,...,...,...,...
10846,Italy,NaN,518,85,60461828.0,23.021,35220.084,3.18,200757
10847,Italy,NaN,270,72,60461828.0,23.021,35220.084,3.18,200955
10848,Italy,NaN,197,53,60461828.0,23.021,35220.084,3.18,201099
10849,Italy,NaN,280,65,60461828.0,23.021,35220.084,3.18,201314
10850,Italy,NaN,283,79,60461828.0,23.021,35220.084,3.18,201518

In [ ]:
italy_data = italy_data.reset_index(drop=True)
germany_data = germany_data.reset_index(drop=True)

In [ ]:

confirmed_cases_diff = italy_data['Confirmed'] - germany_data['Confirmed']

In [ ]:
confirmed_cases_diff

0          0
1          0
2          0
3          0
4          0
       ...
158    25725
159    25644
160    25580
161    25482
162    25386
Name: Confirmed, Length: 163, dtype: int64

In [ ]:
date_when_diff_exceeded_10000 = italy_data.loc[confirmed_cases_diff > 10000, 'date'].iloc[0]

In [ ]:
date_when_diff_exceeded_10000

nan

In [ ]:
italy_data = italy_data[(italy_data['date'] >= '2020-02-28') & (italy_data['date'] <= '2020-03-20')]

In [ ]:
italy_data['date'] = pd.to_datetime(italy_data['date'])  # Convert 'Date' column to datetime type
italy_data['Days Passed'] = (italy_data['date'] - pd.to_datetime('2020-02-28')).dt.days

In [ ]:
df

,location,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5
...,...,...,...,...,...,...,...,...
23077,International,2020-02-28,0,0,NaN,NaN,NaN,NaN
23078,International,2020-02-29,0,2,NaN,NaN,NaN,NaN
23079,International,2020-03-01,0,0,NaN,NaN,NaN,NaN
23080,International,2020-03-02,0,0,NaN,NaN,NaN,NaN
23081,International,2020-03-10,-9,1,NaN,NaN,NaN,NaN

In [ ]:
df['Cumulative Deaths'] = df.groupby('location')['new_deaths'].cumsum()

In [ ]:
df['Death Rate'] = (df['Cumulative Deaths'] / df['population']) * 1000000

In [ ]:
sorted_df = df.sort_values('Death Rate', ascending=False)

In [ ]:
sorted_df['location'].unique()

array(['San Marino', 'Belgium', 'Andorra', 'Spain', 'United Kingdom',
       'Italy', 'Sweden', 'France', 'Netherlands',
       'Sint Maarten (Dutch part)', 'Ireland', 'United States', 'Jersey',
       'Isle of Man', 'Canada', 'Ecuador', 'Montserrat', 'Guernsey',
       'Switzerland', 'Brazil', 'Luxembourg', 'Peru', 'Portugal',
       'Bermuda', 'Monaco', 'Chile', 'Mexico', 'Germany', 'Denmark',
       'Iran', 'Panama', 'Moldova', 'Macedonia', 'Austria', 'Armenia',
       'Romania', 'Kuwait', 'Finland', 'United States Virgin Islands',
       'Hungary', 'Turkey', 'Sao Tome and Principe', 'World', 'Estonia',
       'Slovenia', 'Dominican Republic', 'Puerto Rico',
       'Bosnia and Herzegovina', 'Norway', 'Russia', 'Bolivia', 'Serbia',
       'Northern Mariana Islands', 'Israel', 'Djibouti',
       'British Virgin Islands', 'Poland', 'Antigua and Barbuda',
       'Czech Republic', 'Belarus', 'Guam', 'Iceland',
       'United Arab Emirates', 'Aruba', 'Bahamas', 'Honduras', 'Colombia',
       'Lithuania', 'Liechtenstein', 'Turks and Caicos Islands',
       'Croatia', 'Barbados', 'Bulgaria', 'Saudi Arabia', 'Qatar',
       'Cyprus', 'Malta', 'South Africa', 'Ukraine', 'Greece', 'Bahrain',
       'Algeria', 'Oman', 'Guatemala', 'Kosovo', 'Argentina', 'Guyana',
       'Cayman Islands', 'Maldives', 'Montenegro', 'Latvia', 'Mauritania',
       'Egypt', 'Albania', 'Pakistan', 'Afghanistan', 'Iraq',
       'Azerbaijan', 'Gabon', 'Philippines', 'El Salvador', 'Cape Verde',
       'Equatorial Guinea', 'Sudan', 'Mauritius', 'Cameroon', 'Cuba',
       'Japan', 'Indonesia', 'Nicaragua', 'Uruguay', 'Sierra Leone',
       'Liberia', 'Guinea-Bissau', 'Curacao', 'Bangladesh',
       'Trinidad and Tobago', 'Morocco', 'India', 'South Korea',
       'Somalia', 'Slovakia', 'Tajikistan', 'Belize', 'Haiti', 'Mali',
       'Brunei', 'New Zealand', 'Lebanon', 'Congo', 'Chad', 'Singapore',
       'Yemen', 'Tunisia', 'Australia', 'Kyrgyzstan', 'Malaysia',
       'Suriname', 'Jamaica', 'Georgia', 'Kazakhstan', 'China', 'Senegal',
       'Niger', 'Swaziland', 'Burkina Faso', 'Comoros', 'Costa Rica',
       'Nigeria', 'Guinea', 'South Sudan', 'Western Sahara', 'Kenya',
       'Togo', 'Ghana', 'Paraguay', "Cote d'Ivoire",
       'Central African Republic', 'Democratic Republic of Congo',
       'Palestine', 'Jordan', 'Thailand', 'Venezuela', 'Libya', 'Zambia',
       'Uzbekistan', 'Nepal', 'Sri Lanka', 'Botswana', 'Gambia',
       'Tanzania', 'Syria', 'Benin', 'Madagascar', 'Taiwan', 'Ethiopia',
       'Zimbabwe', 'Malawi', 'Rwanda', 'Angola', 'Myanmar', 'Burundi',
       'Mozambique', 'Saint Kitts and Nevis', 'Saint Lucia', 'Vietnam',
       'Anguilla', 'Uganda', 'Vatican',
       'Saint Vincent and the Grenadines', 'Timor', 'Seychelles',
       'Grenada', 'Hong Kong', 'Gibraltar', 'Greenland', 'Cambodia',
       'Dominica', 'Eritrea', 'French Polynesia', 'Faeroe Islands',
       'Fiji', 'Falkland Islands', 'New Caledonia', 'Mongolia', 'Namibia',
       'Papua New Guinea', 'Lesotho', 'Laos', 'Bhutan',
       'Bonaire Sint Eustatius and Saba', 'International'], dtype=object)

In [ ]:
df.columns

Index(['location', 'date', 'new_cases', 'new_deaths', 'population',
       'aged_65_older_percent', 'gdp_per_capita', 'hospital_beds_per_thousand',
       'Death Rate', 'Cumulative Deaths'],
      dtype='object')

In [ ]:
df['Label'] = 0

In [ ]:
filtered_df = df.dropna(subset=['location', 'population', 'Death Rate'])

In [ ]:
df.loc[(df['aged_65_older_percent'] > 20) & (df['Death Rate'] > 50), 'Label'] = 1

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.metrics import f1_score

# Extract the necessary columns
features = ['aged_65_older_percent', 'Death Rate']
target = 'Label'
data = df[features + [target]]

In [ ]:
imputer = SimpleImputer(strategy='mean')
train_data_imputed = imputer.fit_transform(train_data)
test_data_imputed = imputer.transform(test_data)

# Train a classification model
model = LogisticRegression()
model.fit(train_data_imputed, train_labels)

# Make predictions on the testing set
predictions = model.predict(test_data_imputed)

# Calculate the F1 score
f1 = f1_score(test_labels, predictions)

In [ ]:
f1

0.14285714285714288

In [ ]:
# Group the dataset by country and calculate the mean values for each group
grouped_data = df.groupby('location').mean()

# Filter the dataset based on the condition
filtered_data = grouped_data[grouped_data['hospital_beds_per_thousand'] >= 5]

# Calculate the total number of countries that meet the condition
total_countries = len(filtered_data)

# Calculate the number of countries with GDP over $10,000
countries_with_high_gdp = len(filtered_data[filtered_data['gdp_per_capita'] > 10000])

# Calculate the probability
probability = countries_with_high_gdp / total_countries

<ipython-input-133-1a055e41c38f>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data = df.groupby('location').mean()

In [ ]:
grouped_data

,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand,Death Rate,Cumulative Deaths,Label
location,,,,,,,,,
Afghanistan,140.254902,2.509804,3.892834e+07,2.581,1803.987,0.500,1.470273,57.235294,0.0
Albania,13.819149,0.361702,2.877800e+06,13.188,11803.431,2.890,7.759326,22.329787,0.0
Algeria,65.708861,4.582278,4.385104e+07,6.211,13913.839,1.900,4.705804,206.354430,0.0
Andorra,9.573034,0.573034,7.726500e+04,NaN,NaN,NaN,426.229008,32.932584,0.0
Angola,1.185185,0.049383,3.286627e+07,2.405,5819.495,NaN,0.069117,2.271605,0.0
...,...,...,...,...,...,...,...,...,...
Western Sahara,0.500000,0.021739,5.973300e+05,NaN,NaN,NaN,0.436726,0.260870,0.0
World,44235.963190,2522.668712,7.794799e+09,8.696,15469.207,2.705,13.988714,109039.208589,0.0
Yemen,8.451613,2.048387,2.982597e+07,2.922,1479.147,0.700,0.936616,27.935484,0.0
Zambia,14.285714,0.119048,1.838396e+07,2.480,3689.251,2.000,0.207220,3.809524,0.0
Zimbabwe,3.829268,0.048780,1.486293e+07,2.822,1899.775,1.700,0.205947,3.060976,0.0

In [ ]:
probability

0.8214285714285714